.container {
    display: flex;
}

.shopContainer {
    margin-left: 50px;
    height: 450px;
    width: 400px;
    border: 3px solid black;
    border-radius: 0.5rem;
    overflow-y: scroll;

}

.d-flex {
    display: flex;
    flex-direction: column;
}

.addProduct {
    margin-left: 50px;
    height: 80px;
    display: flex;
    justify-content: center;
    font-size: 38px;
    width: 400px;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 0.5rem;
    align-items: center;
    cursor: pointer;
}

.shopName {
    margin-top: 100px;
    margin-left: 50px;
}

.invAttributes {
    margin-left: 100px;
}

.categories {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-left: 20px;

}

.categories div {
    cursor: pointer;
}

.categories div:hover {
    color: #bb7900;
}

.itemSlot {
    height: 60px;
    width: 95%;
    justify-content: space-between;
    display: flex;
    padding-right: 10px;
    margin: 3px;
    border: 3px solid black;
    cursor: pointer;
}

img {
    width: 50px;
}

.itemPhoto {
    width: 100px;
    height: 70px;
    border: 3px solid black;
}

.itemDescriptions {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.itemDescriptions h6 {
    margin: 3px;
    padding: 3px;
    font-weight: initial;
}

.inventoryContainer {
    margin-left: 50px;
    height: 450px;
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 3px solid black;
    align-items: center;
    border-radius: 0.5rem;
    overflow: scroll;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: no-content; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
    border-radius: 1rem;
}

/* Modal Content/Box */
.modal-content {
    border-radius: 1rem;
    background-color: #ffffff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Inputs */

.inputs {
    padding: 20px;
    flex-direction: column;
    display: flex;
    margin: 10px;
    border-radius: 0.5rem;
}

input:focus {
    background-color: #ee7979;
}

input:hover {
    background-color: #e13d3d;
}